<body><div id="main-wrap">
			<div class="container">
				<div id='wsite-content' class='wsite-elements wsite-not-footer'>
<div><div id="460944028149325221" align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><div>
    <div id="emulator">
        <p>To play this game, please, download the latest Flash player!</p>
        <br>
        <a href="http://www.adobe.com/go/getflashplayer">
            <img src="//www.adobe.com/images/shared/download_buttons/get_adobe_flash_player.png" alt="Get Adobe Flash player"/>
        </a>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

<script type="text/javascript">

    var resizeOwnEmulator = function(width, height)
    {
        var emulator = $('#emulator');
        emulator.css('1920', width);
        emulator.css('1080', height);
    }

    $(function()
    {
        function embed()
        {
            var emulator = $('#emulator');
            if(emulator)
            {
                var flashvars = 
                {
                    system : 'gba',
                    url : 'https://docs.google.com/uc?authuser=0&id=0B7TiK0uPIWi0MU9LaVcyc050cTQ&export=download'
                };
                var params = {};
                var attributes = {};

                params.allowscriptaccess = 'sameDomain';
                params.allowFullScreen = 'true';
                params.allowFullScreenInteractive = 'true';

                swfobject.embedSWF('http://racer500.gitlab.io/bin/Nesbox.swf', 'emulator', '1920', '1080', '11.2.0', 'http://retro4.weebly.com/uploads/7/0/2/9/70299231/expressInstall.swf', flashvars, params, attributes);
            }
        }

        embed();
    });

</script></div>



</div>
</body>